<nav id="IdMenu" class="Menu">
    <center><img class="logo" src = "./images/rolpin.png"/></center> 
        <ul class="Bouton">
            <li class="principal"><a href="/" target="_top" id="active" class="#Acceuil" onclick="actif('#Acceuil')">Acceuil</a></li>
            <li class="principal"><a href="releves" target="_top" id="#Releves" class="#Releves" onclick="actif('#Releves')">Relevés</a>
                <ul>
                    <li id="ferme" class="secondaire"><a href="releves">Température</a></li>
                    <li id="ferme" class="secondaire"><a href="releves">Humidité</a></li>
                </ul>
            </li>
            <li class="principal"><a href="pompes" target="_top" id="#Pompes" class="#Pompes" onclick="actif('#Pompes')">Pompes</a></li>
            <li class="principal"><a href="#Contacts" target="_top" id="#Contacts" class="#Contacts" onclick="actif('#Contacts')">Contacts</a></li>
            <li class="principal"><a href="#Tuto" target="_top" id="#Tuto" class="#Tuto" onclick="actif('#Tuto')">Tuto</a></li>
        </ul>
</nav>