<html>
<img src="./images/image_fond.jpg" class="fond" ;>
<head>   
	<% include partials/head %> 
</head>

<body>
	<% include partials/menu %>
	
	<div id="container" class="graph1"></div>

	<div class="temperature">
		<img src="./images/logo_temperature.png" class="logoTemperature">
		<p id="temp" class="releves">°C</p>
	</div>

	<div class="humidite">
		<img src="./images/logo_humidite.png" class="logoHumidite">
		<p id="humi" class="releves">%</p>
	</div>
	<% include partials/script %>
</body>
</html>